{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="page-content">
    <div class="mt-bnr-inr1 overlay-wraper bg-top-center" style="background-image:url({% static 'base/slider/aboutbanner.jpg' %}%);background-repeat: no-repeat;">
        <div class="overlay-main bg-black opacity-05"></div>
        <div class="container">
            <div class="mt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="text-white">
                        <h1 class="mt-tilte1 m-t0 font-30 text-center">About Us</h1>
                    </div>
                    <!-- <div class="banner-title-name"><h2 class="m-b0">About Us</h2></div>-->
                </div>
                <!-- BREADCRUMB ROW -->
                <div>
                    <ul class="mt-breadcrumb breadcrumb-style-2">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div id="jointeam" class="active" style="background-color: #f5f5f5;">
            <div style="background-color: #fff;">
                <div id="aboutus" class="p-b50" style="background-image: url({% static 'base/images/background/bg-site' %}.png);background-repeat: no-repeat;background-size: 75%; background-position: center;opacity: 0.7;">
                    <div class="section-content ">
                        <div class="container">
                            <div class="row">
                                <!-- TITLE START -->
                                <div class="sec-title text-center">
                                    <div class="mt-separator-outer">
                                        <div class="">
                                            <h2 class="text-uppercase text-black sep-line-one ">About Us</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="m-about-containt text-black p-t20">
                                        <p style="font-size: 14px;">
                                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
19.5pt;vertical-align:baseline">
                                            <b>
                                                <span lang="EN-IN">
                                                    <span style="font-size: 18px;">Our Story: Redefining construction</span>
                                                    <o:p></o:p>
                                                </span>
                                            </b>
                                        </p>
                                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
19.5pt;vertical-align:baseline">
                                            <i>
                                                <span lang="EN-IN" style="font-size:12.0pt;mso-fareast-font-family:" times="" new="" roman";="" mso-bidi-font-family:arial;mso-fareast-language:en-in"="">
                                                    <br>
                                                </span>
                                            </i>
                                        </p>
                                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
19.5pt;vertical-align:baseline">
                                            <i>
                                                <span lang="EN-IN" style="font-size:12.0pt;mso-fareast-font-family:" times="" new="" roman";="" mso-bidi-font-family:arial;mso-fareast-language:en-in"="">We, BrickedIN, are a construction company. Starting as Anamika Associates, a proprietorship, for the past 15 years, we have been turning dreams into realities and now we are a proud private limited Company called BrickedIn pvt. ltd. Whether it is a home, a workspace or a factory, we have established our expertise in everything. Slow and steady, we grew. We learnt the market demands, new technologies, budding trends and today we take pride in stating, We are among the best construction companies in the market. We believe once a foundation is laid, it is there for generations, so we put all of our love, passion, and technology into our projects.<o:p></o:p>
                                                </span>
                                            </i>
                                        </p>
                                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
19.5pt;vertical-align:baseline">
                                            <i>
                                                <span lang="EN-IN" style="font-size:12.0pt;mso-fareast-font-family:" times="" new="" roman";="" mso-bidi-font-family:arial;mso-fareast-language:en-in"="">Our team consists of civil engineers, associate contractors and very skilled, experienced laborers. With both old and young minds, we have the perfect balance of experience and creativity. Our highly professional engineers are certified assurance of best technology and innovations. <o:p></o:p>
                                                </span>
                                            </i>
                                        </p>
                                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
19.5pt;vertical-align:baseline">
                                            <i>
                                                <span lang="EN-IN" style="font-size:12.0pt;mso-fareast-font-family:" times="" new="" roman";="" mso-bidi-font-family:arial;mso-fareast-language:en-in"="">Built with devotion, BrickedIn does not take contracts just for the sake of money because Building is our passion. Our team is full of enthusiastic Civil Engineers. Their energy and interest can be overwhelming in this business of stones and sticks.
                                                    Not only a good team but BrickedIn takes care of your every need: materials, their quality check, their prices, expert advice, regular updates, just everything.
                                                    A guarantee of best quality work at a competitive price is what we promise you. You are also given the assurance of best materials used. How? Because we perform a quality test on about 320+parameters. From ‘moisture content in excavation work to the brick test in masonry work,’ for each stage of construction all the standard tests are performed under the scrutiny of our very own Civil Engineer. So, no worries.
                                                    <o:p></o:p>
                                                </span>
                                            </i>
                                        </p>
                                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
19.5pt;vertical-align:baseline">
                                            <i>
                                                <span lang="EN-IN" style="font-size:12.0pt;mso-fareast-font-family:" times="" new="" roman";="" mso-bidi-font-family:arial;mso-fareast-language:en-in"="">When you choose us, a symbiotic relationship buds. What we gain is your trust, a happy customer for the lifetime, and of course a little money ;) What you get is:</span>
                                            </i>
                                        </p>
                                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
19.5pt;vertical-align:baseline">
                                            <i>
                                                <span lang="EN-IN" style="font-size:12.0pt;mso-fareast-font-family:" times="" new="" roman";="" mso-bidi-font-family:arial;mso-fareast-language:en-in"="">
                                                    <br>
                                                </span>
                                            </i>
                                        </p>
                                        <p class="MsoListParagraphCxSpFirst" style="margin-left:39.3pt;mso-add-space:
auto;text-align:justify;text-indent:-18.0pt;mso-list:l0 level1 lfo1">
                                            <!--[if !supportLists]-->
                                            <span lang="EN-IN" style="font-family:Wingdings;mso-fareast-font-family:Wingdings;
mso-bidi-font-family:Wingdings">§ <span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: " times="" new="" roman";"="">&nbsp; </span>
                                            </span>
                                            <!--[endif]-->
                                            <b>
                                                <i>
                                                    <span lang="EN-IN">Transparency</span>
                                                </i>
                                            </b>
                                            <i>
                                                <span lang="EN-IN"> (Every transaction/activity as clear as crystal) <o:p></o:p>
                                                </span>
                                            </i>
                                        </p>
                                        <p class="MsoListParagraphCxSpMiddle" style="margin-left:39.3pt;mso-add-space:
auto;text-align:justify;text-indent:-18.0pt;mso-list:l0 level1 lfo1">
                                            <!--[if !supportLists]-->
                                            <span lang="EN-IN" style="font-family:Wingdings;mso-fareast-font-family:Wingdings;
mso-bidi-font-family:Wingdings">§ <span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: " times="" new="" roman";"="">&nbsp; </span>
                                            </span>
                                            <!--[endif]-->
                                            <b>
                                                <i>
                                                    <span lang="EN-IN">Time</span>
                                                </i>
                                            </b>
                                            <i>
                                                <span lang="EN-IN"> (On time delivery) <o:p></o:p>
                                                </span>
                                            </i>
                                        </p>
                                        <p class="MsoListParagraphCxSpMiddle" style="margin-left:39.3pt;mso-add-space:
auto;text-align:justify;text-indent:-18.0pt;mso-list:l0 level1 lfo1">
                                            <!--[if !supportLists]-->
                                            <span lang="EN-IN" style="font-family:Wingdings;mso-fareast-font-family:Wingdings;
mso-bidi-font-family:Wingdings">§ <span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: " times="" new="" roman";"="">&nbsp; </span>
                                            </span>
                                            <!--[endif]-->
                                            <b>
                                                <i>
                                                    <span lang="EN-IN">Tracking</span>
                                                </i>
                                            </b>
                                            <i>
                                                <span lang="EN-IN"> (you should be able to control and track every bit of your work execution, be it material or workforce, we have built necessary tools to assist you) <o:p></o:p>
                                                </span>
                                            </i>
                                        </p>
                                        <p class="MsoListParagraphCxSpLast" style="margin-left:39.3pt;mso-add-space:auto;
text-align:justify;text-indent:-18.0pt;mso-list:l0 level1 lfo1">
                                            <!--[if !supportLists]-->
                                            <span lang="EN-IN" style="font-family:Wingdings;mso-fareast-font-family:Wingdings;
mso-bidi-font-family:Wingdings">§ <span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: " times="" new="" roman";"="">&nbsp; </span>
                                            </span>
                                            <!--[endif]-->
                                            <b>
                                                <i>
                                                    <span lang="EN-IN">Technology</span>
                                                </i>
                                            </b>
                                            <i>
                                                <span lang="EN-IN"> (Use of technology in planning, executing and monitoring will increase efficiency, reduce cost and allow us to produce great results for you) <o:p></o:p>
                                                </span>
                                            </i>
                                        </p>
                                        <p class="MsoNormal" style="text-align:justify">
                                            <i>
                                                <span lang="EN-IN" style="font-size:12.0pt;line-height:115%;mso-fareast-font-family:
" times="" new="" roman";mso-bidi-font-family:arial;mso-fareast-language:en-in"="">We have partnered with the best brands and professionals to ensure you get the best quality service.&nbsp; Our intention to create this network is to get rid of your foot work with everything available to you at a click away. <o:p></o:p>
                                                </span>
                                            </i>
                                        </p>
                                        <p class="MsoNormal" style="text-align:justify">
                                            <i>
                                                <span lang="EN-IN" style="font-size:12.0pt;line-height:115%;mso-fareast-font-family:
" times="" new="" roman";mso-bidi-font-family:arial;mso-fareast-language:en-in"="">‘We understand the value of your dream home and we promise to give you a memorable one’. <o:p></o:p>
                                                </span>
                                            </i>
                                        </p>
                                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
19.5pt;vertical-align:baseline"></p>
                                        <p class="MsoNormal" style="text-align:justify">
                                            <i>
                                                <span lang="EN-IN" style="font-size:12.0pt;line-height:115%;mso-fareast-font-family:
" times="" new="" roman";mso-bidi-font-family:arial;mso-fareast-language:en-in"="">Regards, <br> Team&nbsp; </span>
                                            </i>
                                            <span style="font-size: 16px; font-style: italic;">BrickedIN BuildTech Private Ltd.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="section-content p-t40 ">
                <div class="m-service-containt text-black">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <div class="service-about-left">
                                <div class="mt-media p-t20">
                                    <img src="{% static 'base/assets/s-1.png' %}" alt="About BrickedIN">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="service-about-right m-b30">
                                <!-- TITLE START -->
                                <div class="sec-title text-center m-b30">
                                    <div class="mt-separator-outer">
                                        <div class="">
                                            <h2 class="text-uppercase sep-line-one">Join Our Team</h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- TITLE END -->
                                <form method="post" id="myform" name="myform" autocomplete="off" action="">
                                    <div class="form-group">
                                        <input name="name" id="name" type="text" required class="form-control" placeholder="Name">
                                        <span class="errorname" style="color: red; display: none"> *Required Field (Name)</span>
                                    </div>
                                    <div class="form-group">
                                        <input name="email" id="email" type="email" required class="form-control" placeholder="Email">
                                        <span class="erroremail" style="color: red; display: none"> *Required Field (Email ID)</span>
                                    </div>
                                    <div class="form-group">
                                        <input name="phone" id="phone" type="text" minlength="10" data-toggle="modal" data-target="#national" required class="only-numeric10 form-control" placeholder="Phone Number">
                                        <span class="errorphone" style="color: red; display: none"> *Required Field (Phone Number)</span>
                                        <span class="errorphone1" style="color: red; display: none">*Required Field (Please enter Country Code)</span>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" id="message" rows="4" required class="form-control " placeholder="Message"></textarea>
                                        <span class="errormessage" style="color: red; display: none"> *Required Field (Message 10 to 200 Characters)</span>
                                    </div>
                                    <div class="container">
                                        <div class="modal fade" id="national" role="dialog">
                                            <!-- modal dialog -->
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!-- modal header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title"> Your current Location (Country of Residence) </h4>
                                                    </div>
                                                    <!-- end modal header-->
                                                    <!-- modal body -->
                                                    <div class="modal-body">
                                                        <div class="row national">
                                                            <div class="col-md-6">
                                                                <label>
                                                                    <input type="radio" class="option-input radio" class="form-control" required name="residence" id="residence" value="India" />India </label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>
                                                                    <input type="radio" class="option-input radio" class="form-control" required name="residence" id="residence" value="International" />Outside India </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end modal body -->
                                                    <!-- modal footer-->
                                                    <div class="modal-footer"></div>
                                                    <!-- end modal footer -->
                                                </div>
                                                <!-- end modal content-->
                                            </div>
                                            <!-- end modal dialog-->
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <input type="submit" id="request_quote" name="request_quote" value="Submit" class="site-button btn-effect">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endblock content %}